.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 300ms ease-in;
  flex-shrink: 0;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #7800bd40;
}

/*----- Primary -----*/
.button--primary {
  background-color: rgb(var(--color-primary));
  color: #fff;
}

.button--primary:hover {
  background-color: #6b01a8;
}

.button--primary:active {
  background-color: #7800bd90;
}

/*----- Secondary -----*/
.button--secondary {
  background-color: #f3f4f6;
  color: #101828;
}

.button--secondary:hover {
  background-color: #e5e7eb;
}

/*---- Sizes -----*/
.button--sm {
  height: 2rem;
  padding-inline: 0.75rem;
  font-size: 0.875rem;
}

.button--md {
  height: 2.5rem;
  padding-inline: 1rem;
  font-size: 0.875rem;
}

.button--lg {
  height: 3rem;
  padding-inline: 1.5rem;
  font-size: 1rem;
}

.button--disabled {
  opacity: 0.5;
  cursor: no-drop;
  background-color: #a8a8a8;
  color: #202020;
}

.button--disabled:hover {
  background-color: #888888;
}

/*LOADING*/
.button__loader {
  height: 1.25rem;
  width: 1.25rem;
  animation: spiner 150ms linear infinite;
}

@keyframes spiner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
