.drawer__overlay {
  position: fixed;
  transition: opacity 50ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 40;
  inset: 0px;
  background-color: #00000080;
}

.drawer__overlay--open {
  opacity: 1;
  pointer-events: auto;
}

.drawer__overlay--close {
  opacity: 0;
  pointer-events: none;
}

.drawer__container {
  position: fixed;
  padding: 8px;
  top: 0;
  right: 0;
  z-index: 50;
  height: 100%;
  transition: transform 50ms ease-in-out;
}

.drawer__container--open {
  transform: translateX(0);
}

.drawer__container--close {
  transform: translateX(100%);
}

.drawer__header {
  height: 100%;
  width: 24rem;
  background-color: color-mix(in oklab, #0f172b 80%, transparent);
  backdrop-filter: blur(24px);
  box-shadow: 0 25px 50px -12px #00000025;
  border: 1px solid #ffffff10;
  border-radius: 0.5rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ffffff10;
}

.drawer__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

.title__button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title__button:hover {
  background: #ffffff10;
}

.button__close {
  color: #cad5e2;
}

.drawer__slot {
  padding: 1.5rem;
  overflow-y: auto;
  height: calc(100% - 80px);
}
