.formated-value__value {
  font-weight: 700;
  color: #fff;
}

.formated-value__title {
  font-size: 0.8rem;
  color: #b4b4b4;
  margin-bottom: 4px;
}

.formated-value__title--md {
  font-size: 0.8rem;
}

.formated-value__title--xl {
  font-size: 1rem;
}

.formated-value__value--md {
  font-size: 1.4rem;
}

.formated-value__value--xl {
  font-size: 1.8rem;
}
