.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.loader__icon {
  width: 2rem;
  height: 2rem;
  color: rgb(var(--color-basic-200));
  animation: spiner 500ms linear infinite;
}
