.mainContainer {
  min-height: 100vh;
  width: 100%;
  height: 100dvh;
  background-color: rgb(var(--color-basic-800));
  display: flex;
  padding: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer__slot {
  width: 100%;
  padding: 16px;
}
