/*RESET VALUES*/
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  appearance: none;
  -webkit-appearance: none;
}
/* ---- */

.glass {
  background: #ffffff0d;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid #ffffff1a;
}

.glass-strong {
  background-color: color-mix(in oklab, #0f172b 80%, transparent);
  backdrop-filter: blur(24px);
  box-shadow: 0 0 10px 2px #ffffff10;
  border: 1px solid #ffffff10;
}

.gradient-bg {
  background: radial-gradient(circle at 100% 90%, #160048 0%, transparent 50%),
    #0a0a0a;
}

.title {
  font-size: 2.5rem;
  color: #d9e1fa;
  font-weight: 600;
  letter-spacing: 2px;
}

.flex-beetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

/* CARD GLOBAL */
.card {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  animation: mounted 500ms ease-in 1;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 12px;
}

.card__header__content {
  display: flex;
  gap: 1rem;
}

.card__title {
  color: #fff;
  font-size: 1.25rem;
}

.card__price {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

.card__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

/*INPUTS*/
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field__label {
  font-weight: 500;
  color: rgb(var(--color-basic-300));
  font-size: 0.875rem;
  cursor: pointer;
}

.input-field__label--required::after {
  content: "*";
  color: #ac0505;
  font-size: 1.2rem;
  margin: 0 4px;
}

.input-field__input--error {
  border-color: #fb2c36 !important;
}

.input-field__error {
  font-size: 0.75rem;
  color: #fb2c36;
}

.input-field__error::first-letter {
  text-transform: uppercase;
}

/*Icon Actions*/
.icon-action {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  padding: 6px;
  border-radius: 0.5rem;
  transition: background-color 150ms ease-in, color 100ms ease-in;
  cursor: pointer;
  color: rgb(var(--color-basic-100));
}

.icon-action:hover {
  background-color: #d9e1fa20;
  backdrop-filter: blur(12px);
  color: rgb(var(--color-basic-100));
}

.icon-action--delete {
  color: #a71018;
}

/*Custom Scroll*/
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff40;
}

/*Animation mounted*/
.animation-mounted {
  animation: mounted 500ms ease-in 1;
}

@keyframes mounted {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
