/*RESET VALUES*/
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  appearance: none;
  -webkit-appearance: none;
}
/* ---- */

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-strong {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.gradient-bg {
  background: radial-gradient(
      circle at 100% 90%,
      oklch(0.2 0.12 285) 0%,
      transparent 50%
    ),
    oklch(0.145 0 0);
}

.title {
  font-size: 2.5rem;
  color: #d9e1fa;
  font-weight: 600;
  letter-spacing: 2px;
}

.flex-beetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

/* CARD GLOBAL */
.card {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.card__title {
  color: #fff;
  font-size: 1.25rem;
}

.card__price {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

/*INPUTS*/
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field__label {
  font-weight: 500;
  color: rgb(var(--color-basic-300));
  font-size: 0.875rem;
  cursor: pointer;
}

.input-field__label--required::after {
  content: "*";
  color: #ac0505;
  font-size: 1.2rem;
  margin: 0 4px;
}

.input-field__input--error {
  border-color: #fb2c36 !important;
}

.input-field__error {
  font-size: 0.75rem;
  color: #fb2c36;
}

.input-field__error::first-letter {
  text-transform: uppercase;
}
