.sidebar {
  max-width: 15rem;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border: 1px solid rgb(var(--color-basic-600));
  border-radius: 12px;
  background-color: rgb(var(--color-basic-700));
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  color: rgb(var(--color-basic-200));
}

.sidebar__title {
  text-align: center;
  padding: 8px 0;
}

.sidebar__option {
  display: block;
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: rgb(var(--color-basic-200));
}

.sidebar__option:hover {
  background-color: rgb(var(--color-basic-800));
}

.sidebar__icon {
  width: 22px;
  height: 22px;
}

.option__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.option__line {
  display: none;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(var(--color-primary));
  position: absolute;
}

.sidebar__option--active {
  background-color: rgb(var(--color-basic-800));
}

.sidebar__option--active .option__line {
  display: block;
}